<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="border border-dark">
        <%= current_user.name %>
      </div>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>作品一覧</h2>
      <% @works.each do |work| %>
        <%= link_to work_path(work) do %>
          <div class="card shadow mb-5">
            <%= image_tag work.main_image, size:"600x600", class:"card-img" %>
            <div class="card-img-overlay d-flex flex-column-reverse">
              <div class="p-3 m-2 rounded text-dark" style="background: rgba(248,248,255,0.5);">
                <div class="text-center">
                  <h4><%= work.title %></h4>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>