<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="border border-dark">
        <%= current_user.name %>
      </div>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>作品一覧</h2>
      <% @works.each do |work| %>
        <%= link_to work_path(work) do %>
          <div class="card bg-dark text-light shadow">
            <%= image_tag work.main_image, size:"600x600", class:"card-img" %>
            <div class="card-img-overlay d-flex flex-column p-0">
              <div class="p-3" style="background: rgba(51,112,121,0.5);">
                <%= work.title %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>