<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="border border-dark">
        <%= current_user.name %>
      </div>
    </div>
    <div class="col-md-8 offset-md-1">
      <div class="text-center border border-dark rounded p-2 mb-4">
          <h3 class="m-0"><%= @work.title %></h3>
      </div>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <%= image_tag @work.main_image, class:"slide-image" %>
            </div>
            <% @work.sub_images.each do |sub_image| %>
              <div class="swiper-slide">
                <%= image_tag sub_image, class:"slide-image" %>
              </div>
            <% end %>
            </div>
          <!-- ページネーションの要素 -->
          <div class="swiper-pagination"></div>
          <!-- ナビゲーションボタン （前、次） -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
    </div>
  </div>
</div>