<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto shadow rounded p-0">
      <h2 class="bg-secondary py-3 text-light text-center">管理者ログイン</h2>
      <p class="my-3 text-center">管理者メールアドレスとパスワードを入力してください</p>
      <div class="px-4">
        <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
        
          <div class="input-group py-3">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa-solid fa-envelope"></i></div>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "メールアドレス" %>
          </div>
          
          <div class="input-group py-3">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
            </div>
            <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder: "パスワード" %>
          </div>
        
          <%= f.submit "ログイン", class:"btn btn-secondary my-3" %>
        
        <% end %>
      </div>
    </div>
  </div>
</div>