<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/users/info', user: @user %>
      <%= render 'public/tags/index', tags: @tags %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2><%= @user.name %>さんがフォローしているユーザー</h2>
      <div class="w-75">
        <%= render 'public/users/index', users: @user.followings %>
      </div>
    </div>
  </div>
</div>