<%= form_with model: chat do |f| %>
  <div class="form-group d-flex">
    <%= f.text_field :message, class:"form-control mr-1", placeholder:"メッセージを入力してください(50文字以内)" %>
    <%= f.hidden_field :room_id, :value => room.id %>
    <%= f.submit '送信', class:"btn btn-outline-secondary" %>
  </div>
<% end %>