<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      
      <div class="border p-1 text-center mb-3">
        <h4 class="m-0"><%= @user.name %>さんとのチャットルーム</h4>
      </div>
      
      <div class="mt-3 p-1">
        <%= render 'public/chats/form', chat: @chat, room: @room %>
      </div>

      <div class="border p-2 bg-light rounded">
        <%= render 'public/chats/index', chats: @chats %>
      </div>
      
    </div>
  </div>
</div>