<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <div class="card shadow p-3 mb-3">
        <%= link_to admin_users_path do %>
          <h2 class="card-title">ユーザー管理 <i class="fa-solid fa-arrow-right"></i></h2>
        <% end %>
        <ul class="card-text">
          <li>ユーザーのアカウント停止</li>
          <li>ユーザーの投稿の確認</li>
          <li>ユーザー間のチャット内容の確認</li>
        </ul>
      </div>
      <div class="card shadow p-3 mb-3">
        <%= link_to admin_reports_path do %>
          <h2 class="card-title">通報一覧 <i class="fa-solid fa-arrow-right"></i></h2>
        <% end %>
        <ul class="card-text">
          <li>ユーザーからの通報を確認</li>
        </ul>
      </div>
    </div>
  </div>
</div>