<div class="card p-0 m-0 my-3 shadow text-center">
  <div class="my-1 p-2">
    <h5 class="m-0">
      人気タグ
      <button class="btn btn-link d-md-none text-right text-secondary" type="button" data-toggle="collapse" data-target="#tag-list" aria-expanded="false">
        <i class="fa-solid fa-caret-down"></i>
      </button>
    </h5>
  </div>
  
 
  <div class="collapse d-md-block" id="tag-list">
    <ul class="border-top p-0" style="list-style: none;">
      <% tags.each do |tag| %>
      <li class="mt-2">
        <%= link_to tag_search_path(tag), class:"text-secondary" do %>
          <i class="fa-solid fa-tag fa-sm"></i> <%= tag.name %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>